= wrap_layout :layout do
  = partial '/partials/blog_navigation'

  / Page Header
  %header.intro-header{:style => "background-image: url('#{current_article.data.header || '/img/blog/blog-cover.jpg'}')"}
    .container
      .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
          .post-heading
            - unless current_article.nil?
              %h1= current_article.title
              %h2.subheading
              %span.meta
                %span="Posted on #{current_article.date.strftime('%b %e')}"

  / Post Content
  %article
    .container
      .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
          = yield
  %hr/
  = disqus
  = partial '/partials/blog_footer'
