.pull-right.not-frontpage
  .row
    %a#print.hidden-print.btn.btn-link
      %span.fa.fa-print.fa-fw
      Print
  .row
    %a.hidden-print.btn.btn-link{:href => "/files/luca_invernizzi_resume.pdf"}
      %span.fa.fa-download.fa-fw
      PDF
.container
  .row.hidden-print
    .col-xs-12
      #photo-header.text-center
        / PHOTO (AVATAR)
        #photo
          %img#avatar{:alt => "avatar", :itemprop => "photo", :src => "img/avatar.jpg"}/
        #text-header.hidden-print
          %h1
            %span.hi> Ciao!
            = " I'm"
            %span#full-name{:itemprop => "name"}
              %span.name Luca
              %sup{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Sorry for that, that's hard to pronounce :)"} (Invernizzi)
  .row.pull-right.hidden-print.not-frontpage{:style => "margin-right:20px"}
    %span.obnoxious.defaulton Need more details, such as my phone number?
    Press the
    %a#obnoxiousbtn.btn.btn-info.btn-xs
      %span.obnoxious.defaulton ¬
      TL;DR
    button to show
    %span.obnoxious.defaulton more
    %span.obnoxious less
  .row
    .col-xs-12.col-sm-7.column-left
      / ABOUT ME
      #about.box.frontpage
        %h2 About Me
        %div{:itemref => "full-name", :itemscope => "", :itemtype => "http://data-vocabulary.org/Person"}
          %p My passion is information security, and my expertise is malware. I am keen on building large-scale systems that discover hidden (malicious, usually) patterns in a sea of data. In my free time, I love to challenge myself by competing (or, sometimes, by running) hacking competitions.
          %p
            I am a
            %span{:itemprop => "role"} Ph.D. Candidate
            at the
            = succeed "." do
              %span{:itemprop => "affiliation"} University of California, Santa Barbara
            My main research focus is finding novel, robust ways to detect and prevent the spreading of malware. I am currently also researching in securing Android devices, and in maintaining (and breaking) one's privacy through traces left online.
          %p In the past, I've been an active member of the GNOME open-source community, and I've had some fun in underwater robotics research.
      / EDUCATION
      .box
        %h2 Education
        %ul#education.clearfix
          %li
            .year.pull-left
              2010
              %span.hidden-print -
              2014
            .description.pull-right
              %h3
                Ph.D. Candidate in Information Security at
                %a{:href => "https://seclab.cs.ucsb.edu/"} U.C. Santa Barbara
              %p
                During my Ph.D. studies, I have been having fun researching on:
                %ul
                  %li Leveraging big-data analysis to discover malware being distributed online (with papers in the top infosec conferences: S&amp;P, NDSS, CSS)
                  %li How to better secure Android mobile devices (3 papers under submission, secured $1.1M <a href='http://campustechnology.com/articles/2014/09/18/ucsb-security-researchers-to-help-too-trusting-smartphone-app-users.aspx?admgarea=news'>grant</a>)
                  %li How to maintain some privacy online, and novel ways to invade it again (one paper under submission, and one ACSAC paper)
                  %li How to teach information security with the help of hacking competitions
          %li
            .year.pull-left
              2010
              %span.hidden-print -
              2014
            .description.pull-right
              %h3
                Master's Student in Computer Science at
                %a{:href => "https://seclab.cs.ucsb.edu/"} U.C. Santa Barbara
              %p.obnoxious GPA 4.0
          %li
            .year.pull-left
              2009
              %span.hidden-print -
              2010
            .description.pull-right
              %h3
                Visiting Researcher at the
                %a{:href => "http://www.uhm.hawaii.edu"} University of Hawaii
              %p Besides snorkeling and hiking, at UH I've worked on a novel mathematical model to drive autonomous underwater vehicles. This work has been presented at the IEEE  Conference on Decision and Control (CDC).
          %li
            .year.pull-left
              2007
              %span.hidden-print -
              2010
            .description.pull-right
              %h3
                %i "Diploma di Licenza"
                at the
                = succeed ',' do
                  %a{:href => "http://www.sssup.it"} Sant'Anna School of Advanced Studies
                Italy
              %p.obnoxious
                %i> Summa cum laude
                , full scholarship awarded as a winner of a nation-wide competition.
          %li
            .year.pull-left
              2007
              %span.hidden-print -
              2010
            .description.pull-right
              %h3
                Master's Degree in Control Engineering at the
                = succeed ',' do
                  %a{:href => "http://www.unipi.it"} University of Pisa
                Italy
              %p.obnoxious
                %i Summa cum laude.
          %li
            .year.pull-left 2008
            .description.pull-right
              %h3
                Visiting Researcher at
                %a{:href => "https://seclab.cs.ucsb.edu/"} U.C. Santa Barbara
              %p In UCSB's mechanical engineering department, I've worked on a distributed algorithm to drive autonomous land vehicles to patrol an area. We have implemented this algorithm to make a group of (real) robotic vehicles collaborate with virtual ones. Part of this work is now part of the Player/Stage open-source framework.
          %li
            .year.pull-left
              2004
              %span.hidden-print> -
              2007
            .description.pull-right
              %h3
                Bachelor's Degree in Computer Engineering at the
                = succeed "," do
                  %a{:href => "http://www.unipi.it"} University of Pisa
                Italy
              %p.obnoxious
                %i> Summa cum laude
                , completed the
                %i Path of Excellence
                honors program.
      / EXPERIENCES
      .box#work
        %h2 Professional Experience
        .job.clearfix
          .col-xs-3
            .where The Activity Exchange
            .year
              2012
              %span.hidden-print -
              2014
          .col-xs-9
            .profession Project Lead
            .description
              At ActivityX, I've been in charge of designing and running a scalable service that collects, normalizes, and distributes sensitive health data (such as workouts and blood pressure readings) coming from 20+ sources (such as Fitbit and AppleHealth) and 200k+ users. This system is currently powering
              = succeed "," do
                %a{:href => "http://www.achievemint.com"} Achievemint.com
              and Humana
              = succeed "." do
                %a{:href => "https://www.humana.com/vitality/"} Vitality
        .job.clearfix
          .col-xs-3
            .where Narus
            .year 2013
          .col-xs-9
            .profession Research Intern
            .description
              At Narus, I've designed Nazca, a system capable of discovering and tracking malicious downloads in the network traffic of ISPs. This work resulted in a NDSS'13 paper, a patent, and has sparked the interest of the
              = succeed "." do
                %a{:href => "http://www.theregister.co.uk/2014/02/18/zoom_out_for_a_view_of_malware_say_boffins/"} press
        .job.clearfix
          .col-xs-3
            .where Appfolio
            .year 2011
          .col-xs-9
            .profession Engineering Intern, Pentester
            .description
              At Appfolio, I've pentested the various RoR web apps developed there, including a payment-processing system handling the financial information of 100k+ users. I've fixed tens of vulnerabilities, ranging from logic flaws, XSSs, CSRFs, and authentication/authorization flaws.
              I left the company with a set of tools (integrated in their CI system) that perform static and dynamic analysis on the various products to alert the developers of possible security vulnerabilities before they go live.
        .job.clearfix
          .col-xs-3
            .where Google Summer of Code
            .year 2010
          .col-xs-9
            .profession Engineering Intern
            .description
              During my summer, I've extended
              = succeed "," do
                %a{:href => "http://gtgnome.net/"} Getting Things GNOME!

              a task manager for the Linux desktop, to support multiple synchronization services (such as Bugzilla, Evolution, RememberTheMilk,...).
              %a{:href => "http://www.omgubuntu.co.uk/2009/12/getting-things-gnome-gets-rtm-sync-geolocation-ui-tweaks-much-love-from-me"} People liked the new GTG :)
        .job.clearfix.obnoxious
          .col-xs-3
            .where Biorobotics Institute, Sant'Anna
            .year 2009
          .col-xs-9
            .profession Web Designer
            .description
              I've created and maintained the website for
              = succeed "," do
                %a{:href => "http://sssa.bioroboticsinstitute.it/projects/ANGELS"}
                  ANGELS
              an European project in underwater robotics.
      .box#opensource
        %h2 Open Source contributions
        .job.clearfix
          .col-xs-3
            .where The GNOME foundation
            .year 2010-2012
          .col-xs-9
            .profession Core Developer &amp; Mentor
            .description
              I like participating in the open-source world, whenever I have time. In this period, I've been a core developer of
              = succeed "," do
                %a{:href => "http://gtgnome.net/"} "Getting Things GNOME"

              and I've become a member of the
              = succeed "." do
                %a{:href => "http://www.gnome.org/"} GNOME Foundation
              I've also mentored five nice international students for several editions of the
              %a{:href => "https://developers.google.com/open-source/soc/?csw=1"} Google Summer of Code
              and the
              %a{:href => 'https://wiki.gnome.org/OutreachProgramForWomen' }
              Gnome's Outreach Program for Women.
        .job.clearfix
          .col-xs-3
            .where Open Source :)
            .year 2009-now
          .col-xs-9
            .profession
            .description
              Over time, like any well-behaved developer I've shared online a few niche projects that other people are using (such as
              = succeed "," do
                %a{:href => "https://github.com/invernizzi/scapy-http"} Scapy's support for HTTP
              which a few companies, such a Lastline and Google, are currently using in some of their projects, and
              = succeed "," do
                %a{:href => "https://github.com/invernizzi/Chrisper"} Chrisper
              a style-checker for academic papers). I've also made many contributions, big and small, to popular open-source projects (PLAYER robotic framework, Flask-Security, Eucalyptus...). Check out my
              %a{:href => "https://github.com/invernizzi/"} Github
              page for a collection of a few of those.
      #competitions.box
        %h2 Competitions
        .job.clearfix
          .col-xs-3
            .where Hacking Competitions
            .year 2010-now
          .col-xs-9
            .profession Hacker
            .description
              I've played in tens of hacking competitions, including the DEFCON CTF in Las Vegas, with my team
              = succeed "." do
                %a{:href => "https://ctftime.org/team/285"} Shellphish
              With the team, I've also designed and organized for four years the
              = succeed "," do
                %a{:href => "http://itf.cs.ucsb.edu"} iCTF
              the biggest academic hacking competition, with more than 1k players from all over the globe.
        .job.clearfix
          .col-xs-3
            .where European Space Agency Robotic Challenge
            .year 2008
          .col-xs-9
            .profession Robot Hacker
            .description
              In this competition, ESA challenged university students to design and build a robotic vehicle capable of retrieving samples in a steep lunar crater.
              After winning a &#8364;40k grant, my team from the SSSUP university built an
              %a{:href => "http://4.bp.blogspot.com/_PZedSw-39RQ/SSqXB53sdSI/AAAAAAAAAAc/WuE0kscIj_4/s1600/pESApod_moon.jpg"} hexapod
              that managed to be selected up to the final in Tenerife. Unfortunately, while our robot was in the crater it started raining (in a very lunar fashion), which shorted our robot's circuits :)
      .text-center
        %button#show-resume-button.hidden-print.btn.btn-success
          %span.fa.fa-fw.fa-fire
          Check out my résumé!
    .col-xs-12.col-sm-5.column-right
      / HELLO in print
      #hello.box.clearfix.visible-print
        %h2 Ciao!
        %h3
          I'm
          %b Luca
          Invernizzi.
      / CONTACT
      #contact.box.clearfix.frontpage
        %h2 Contact
        .contact-item.obnoxious
          .icon.pull-left.text-center
            %span.fa.fa-phone.fa-fw
          #phone_number.title.only{"data-last" => "5096"}
            +1 (805) 699
            %span XXXX
        .contact-item
          .icon.pull-left.text-center
            %span.fa.fa-envelope.fa-fw
          .title.only
            %a.no-href-in-print{:href => "mailto:luca@lucainvernizzi.net"} luca@lucainvernizzi.net
        .contact-item
          .icon.pull-left.text-center
            %span.fa.fa-twitter.fa-fw
          .title
            %a.no-href-in-print{:href => "https://twitter.com/invernizzi"} @invernizzi
          .description.hidden-print Twitter
        .contact-item.obnoxious.hidden-print
          .icon.pull-left.text-center
            %span.fa.fa-linkedin.fa-fw
          .title
            %a.no-href-in-print{:href => "http://www.linkedin.com/in/lucainvernizzi"} lucainvernizzi
          .description.hidden-print Linkedin
        .contact-item
          .icon.pull-left.text-center
            %span.fa.fa-github.fa-fw
          .title
            %a.no-href-in-print{:href => "https://github.com/invernizzi"} invernizzi
          .description.hidden-print Github
        .contact-item
          .icon.pull-left.text-center
            %span.fa.fa-stack-overflow.fa-fw
          .title
            %a.no-href-in-print{:href => "https://stackoverflow.com/users/633403/luca-invernizzi"} invernizzi
          .description.hidden-print StackOverflow
        .contact-item.hidden-print.hidden
          .icon.pull-left.text-center
            %span.fa.fa-cog.fa-fw.fa-spin
          .title
            %a{:href => "http://blog.lucainvernizzi.net"} 0x1badfeed
          .description Blog
      / SKILLS
      #skills.box.not-academia
        %h2 Skills
        .skills
          .item-skills{"data-percent" => "1.00"} Pentesting & hacking
          .item-skills.not-academia{"data-percent" => "0.95"} Agile web design (mostly backend)
          .item-skills{"data-percent" => "0.80"} Creating large-scale scalable systems
          .item-skills{"data-percent" => "0.70"} Data mining
          .item-skills{"data-percent" => "0.55"} Robotics
          .skills-legend.hidden-print.clearfix
            .legend-left.legend Beginner
            .legend-left.legend
              %span Proficient
            .legend-right.legend
              %span Advanced
            .legend-right.legend Expert
      / PUBLICATIONS
      #publications.box
        %h2 Publications
        I have published papers in the fields of computer security and robotics.
        %span.hidden-print
          Also on
          %a{:href => "http://scholar.google.com/citations?user=4CEVnEMAAAAJ&hl=en"} Google Scholar
        %ul
          %li
            %span.title Eyes of a Human, Eyes of a Program: Leveraging different views of the web for analysis and detection
            %span.authors J. Corbetta, L. Invernizzi, C. Kruegel, G. Vigna
            %span.conference Proceedings of the Research in Attacks, Intrusions and Defenses Symposium (RAID Symposium 2014)
          %li
            %span.title Ten Years of iCTF: The Good, The Bad, and The Ugly
            %span.authors G. Vigna, K. Borgolte, J. Corbetta, A. Doupé, Y. Fratantonio, L. Invernizzi, D. Kirat, Y. Shoshitaishvili
            %span.conference Proceedings of the USENIX Summit on Gaming, Games and Gamification in Security Education (3GSE 2014)
          %li
            %span.title Do You Feel Lucky? A Large-Scale Analysis of Risk-Rewards Trade-Offs in Cyber Security
            %span.authors Y. Shoshitaishvili, L. Invernizzi, A. Doupé, G. Vigna
            %span.conference Proceedings of the ACM Symposium on Applied Computing (SAC 2014)
          %li
            %span.title Nazca: Detecting Malware Distribution in Large-Scale Networks
            %span.authors L. Invernizzi, S. Miskovic, R. Torres, S. Saha, S. Lee, M. Mellia, C. Kruegel, G. Vigna
            %span.conference Proceedings of the ISOC Network and Distributed System Security Symposium (NDSS 2014)
          %li
            %span.title Message In A Bottle: Sailing Past Censorship
            %span.authors L. Invernizzi, C. Kruegel, G. Vigna
            %span.conference Proceedings of the Annual Computer Security Applications Conference (ACSAC 2013)
          %li
            %span.title You Are What You Include: Large-scale Evaluation of Remote JavaScript Inclusions
            %span.authors N. Nikiforakis, L. Invernizzi, A. Kapravelos, S. Van Acker, W. Joosen , C. Kruegel, F. Piessens, G. Vigna
            %span.conference Proceedings of the ACM Conference on Computer and Communications Security (CCS 2012)
          %li
            %span.title EVILSEED: A Guided Approach to Finding Malicious Web Pages
            %span.authors L. Invernizzi, S. Benvenuti, P. Milani Comparetti, M. Cova, C. Kruegel, G. Vigna
            %span.conference Proceedings of the IEEE Symposium on Security and Privacy (SSP 2012)
            (AT&T NYU CSAW best security paper '12 finalist)
          %li
            %span.title Geometric control for autonomous underwater vehicles: overcoming a thruster failure
            %span.authors M. Andonian, D. Cazzaro, L. Invernizzi, M. Chyba, S. Grammatico
            %span.conference Proceedings of the IEEE Conference on Decision and Control (CDC 2010)
          %li
            %span.title Trajectory Design for Autonomous Underwater Vehicles for Basin Exploration
            %span.authors M. Chyba, D. Cazzaro, L. Invernizzi, M. Andonian
            %span.conference Proceedings of the International Conference on Computer and IT Applications in the Maritime Industries (COMPIT 2010)
          %li
            %span.title A Geometric Approach to Trajectory Design for an Autonomous Underwater Vehicle: Surveying the Bulbous Bow of a Ship
            %span.authors R. N Smith, D. Cazzaro, L. Invernizzi, G. Marani, S. K Choi, M. Chyba
            %span.conference Acta applicandae mathematicae, 2010
      / PATENTS
      #patents.box
        %h2 Patents
        %ul
          %li
            (Pending approval) Detecting Malware Infestations in Large-Scale Networks, L. Invernizzi, S. Miskovic, R. Torres, S. Saha, S. Lee, M. Mellia, C. Kruegel, G. Vigna
      / PRESS
      #press.box.wrap
        %h2 In the press
        In the past years I have been lucky enough that people have taken interest in my work and wrote articles about it. Here's a collection of the ones I am most proud of:
        %ul
          %li
            %a{:href => "http://www.net-security.org/malware_news.php?id=2712"} New detection system spots zero-day malware
          %li
            %a{:href => "http://www.theregister.co.uk/2014/02/18/zoom_out_for_a_view_of_malware_say_boffins/"} Zoom out for a view of malware, say boffins
          %li
            %a{:href => "http://www.crn.com.au/News/372515,enterprising-research-ids-zero-day-malware.aspx)"} Enterprising research IDs zero day malware
          %li
            %a{:href => "http://campustechnology.com/articles/2014/09/18/ucsb-security-researchers-to-help-too-trusting-smartphone-app-users.aspx?admgarea=news"} UCSB Security Researchers To Help Too-Trusting Smartphone App Users
          %li
            %a{:href => "http://www.keyt.com/news/worlds-largest-computer-hacking-contest-happening-at-ucsb/23363462"} World's Largest Computer Hacking Contest Happening at UCSB
          %li
            %a{:href => "http://www.cnbc.com/id/101179977"} Cyberteams duke it out in the World Series of hacking
          %li.not-academia
            %a{:href => "http://arstechnica.com/information-technology/2009/07/getting-things-done-with-linux-todo-list-programs/"} Getting things done with Linux to-do list programs
          %li
            %a{:href => "http://www.esa.int/Education/Germany_s_CESAR_crowned_king_of_rovers_in_ESA_s_Robotics_Challenge2"} Germany's CESAR crowned king of rovers in ESA’s Robotics Challenge
      / BUZZWORDS
      .box.hidden-print
        %h2 BUZZWORDS
        %p Technology I've worked with (the bigger the font ⇒ the more confident I am using it):
        #buzzwords.text-center
      / LANGUAGES
      .box.hidden-print
        %h2 Languages
        #language-skills
          .skill
            Italian
            .icons.pull-right
              .icons-red{:style => "width: 100%;"}
          .skill
            English
            .icons.pull-right
              .icons-red{:style => "width: 90%;"}
          .skill
            French
            .icons.pull-right
              .icons-red{:style => "width: 20%;"}
          .skill
            Spanish
            .icons.pull-right
              .icons-red{:style => "width: 20%;"}
      / HOBBIES
      .box.hidden-print
        %h2 Hobbies
        .hobby Hiking
        .hobby Tinkering with things to see how they work
        .hobby Breaking websites
        .hobby Growing plants in custom hydroponics contraptions
        .hobby Proposing tons of startup ideas to my annoyed wife
      / REFERENCES
      #references.box.wrap.hidden
        %h2 References
        %ul
          %li
            %a{:href => "https://www.cs.ucsb.edu/~vigna/"}> Giovanni Vigna
            , full professor at UCSB, Lastline founder
            %code.visible-print vigna@cs.ucsb.edu
          %li
            %a{:href => "https://www.cs.ucsb.edu/~chris/"}> Christoper Kruegel
            , full professor at UCSB, Lastline founder
            %code.visible-print chris@cs.ucsb.edu
          %li
            %a{:href => "https://www.cs.ucsb.edu/~kemm/"}> Richard Kemmerer
            , full professor at UCSB
            %code.visible-print kemm@cs.ucsb.edu
          %li.not-academia
            %a{:href => "http://alessiosignorini.com/"}> Alessio Signorini
            , The Activity Exchange founder
            %code.visible-print alessio@signorini.us
          %li.not-academia
            %a{:href => "http://lucafoschini.com/"}> Luca Foschini
            , The Activity Exchange founder
            %code.visible-print luca@achievemint.com
          %li.not-academia
            %a{:href => "http://www.linkedin.com/in/jwalker"}> Jon Walker
            , Appfolio founder
            %code.visible-print jon.walker@appfolio.com
.page-break
#links.box.visible-print
  %h2 Links
  %p.visible-print To avoid having to type in these links, You can visit www.lucainvernizzi.net for an online version of this CV.
= stylesheet_link_tag 'resume'
